
.container{
    display: flex;
    margin: 0 10% 0 10%;
    gap: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 1%;
    height: 300px;
    margin-bottom: 30px;
}
h1{
    font-size: 3.5vh;
}

h1>span{
    color: red;
}

.left_div>img{
    width: 600px;
}

p{
    font-size: 2vh;
}


@media screen and (max-width:750px) {
    .container{
        display: block;
        margin: 0 2% 0 2%;
        gap: 5%;
    }

    .left_div>img{
        width: 100%;
    }
}